<body id ="blah">
<header>
<h1 id="top">  
	<div id="name">
		<p ><a href="/">Fake Twitter</a></p>
		Posts for 
	<%=current_user.email %></div>
	
</h1>

<hr>
</header>



	<div id="social">
		<a href="/new_post" class="btn btn-primary">     Write a new post</a>
		<br>
		<% if current_user.profile == nil %>
		<a href="/new_profile" class="btn btn-primary">     Why don't you write a profile?</a>
		<% end %>
		<br>
		<a href="/" class="btn btn-primary">home</a>
		<br>
	</div>
	<%	current_user.posts.order("created_at DESC").each do |posts|  %>
		<li id="centered">
			<b>
				<%= posts.title  %>
			</b>
			<p>
				<%=posts.body %>
			</p>
			<p>
				<small>
					<%=posts.created_at.strftime(" %m/%d/%Y") %>
				</small>
			</p>
		</li>

	<% end %>

	<% if current_user.profile != nil %>
	<div id="centered">
		<h2>About <%=current_user.email%> </h2>
		<p>
			<%=	current_user.profile.life_story %>
	    </p>
		<p> <%=current_user.email%> is <%=current_user.profile.age%> years old</p>

		<p> <%=current_user.email%> lives in <%=current_user.profile.location%>
	    </p>
		
		<% end %>
	</div>
	<% User.all.each do |users| %>
		<div id ="list_post">
			<p id="user_post">
				<% if users.posts.first != nil %>
						All posts by <%=users.email %>
						
					<% users.posts.order("created_at DESC").each do |posts| %>
						
						<li >
							<b>
								<%= posts.title  %>
							</b>
							<p>
								<%=posts.body %>
							</p>
							<p>
								<small>
									<%=posts.created_at.strftime(" %m/%d/%Y") 
									%>
								</small>
							</p>
						</li>

					<% end %>
					
					
				<% end %>
			</p>
		</div>
	<% end %>	


	<% if false %>
	<%	all_users = User.first %>
	<%  last_user = User.last.id %>
	<% person = User.first.id %>
	<% while all_users.id <= last_user %>
	<p> All posts by <%= all_users.email %>
	</p>	
		<%	all_users.posts.each do |posts|  %>
			
			<li id="centered">
				<b>
					<%= posts.title  %>
				</b>
				<p>
					<%=posts.body %>
				</p>
				<p>
					<small>
						<%=posts.created_at.strftime(" %m/%d/%Y") 
						%>
					</small>
				</p>
			</li>
		<% end %>
		
		
		<% if all_users.id < last_user %>
			<% all_users = User.find(person) %>
			<%	person += 1 %>
		<%end %>
		
	<%end%>
	<%end%>
</body>


